html {
    font-size: 62.5%;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body:after{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #FF007B, #FF153C);
    background: -webkit-linear-gradient(top, #FF007B, #FF153C);
    background: -moz-linear-gradient(top, #FF007B, #FF153C);
    content: "";
    z-index: -1;
}

* {
    color: #FFF;
}

h1#top-title{
    font-weight: 700;
}

h1#top-title div{
    text-align: center;
}

div#department-1 {
    font-size: 1.9rem;
    margin-top: 30px;
}

div#department-2 {
    font-size: 1.9rem;
    margin-bottom: -20px;
}

div#ar {
    margin-bottom: -15px;
    font-weight: 800;
    font-size: 13rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

div#stamp {
    font-size: 2.4rem;
}

img#ar-logo {
    display: block;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

p#description,  div#fes-description{
    font-size: 1.5rem;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

div#ar-link-box {
    text-align: center;
}

a#ar-link {
    display: inline-block;
    font-size: 2.5rem;
    font-weight: 700;
    text-decoration: none;
    padding: 5px 15px;
    margin: 15px 0;
    border-radius: 6px;
    background-color: #FFF;
    color: #FF104B;
}

div#link-description{
    text-align: center;
    margin-bottom: 30px;
    font-size: 1.5rem;
    
}

div#fes-description{
    margin-bottom: 20px;
    text-align: center;
}

a#default-link {
    text-decoration: none;
}

div#copyright {
    text-align: center;
    font-size: 1rem;
    padding-bottom: 20px;
}